    @font-face {
        font-family: Archivo;
        src: url("../../assets/fonts/archivo.ttf");
    }
    #creditlist {
        text-align: center;
        color: white;
    }
    .credit{
        zoom: 1.25;
    }