html, body {
    background-color: #313148;
    font-family: Archivo;
    user-select: none;
    zoom: 1.75;
    overflow: hidden;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#game-title {
    color: white;
    font-family: Archivo;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25;
}

.button[enabled] {
    color: #ffa800;
    cursor: pointer;
}

.button[white] {
    color: #dddddd;
    cursor: pointer !important;
}

.button {
    text-align: right;
    color: gray;
    font-size: 15;
    animation: moveIn .75s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    width: fit-content;
    display: inline-block;
    cursor: not-allowed;
    transition: scale 0.15s ease;
}

.option[enabled] {
    color: #ffa800;
    cursor: pointer;
}

.option[white] {
    color: #dddddd;
    cursor: pointer;
}

.option {
    color: gray;
    padding: 10px;
    font-size: 15;
    margin-top: -15;
}

.option:hover {
    cursor: pointer;
}

.option:active[enabled] {
    filter: brightness(.8);
}

#buttons {
    width: fit-content;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

none:focus {
    outline-style: dotted;
    outline-width: 2px;
    outline-color: gray;
}

.button:active[enabled] {
    filter: brightness(.8);
}

.button[enabled]:hover{
    scale: 1.1;
}

#credits {
    font-size: 5px;
    color: white;
    position: absolute;
    bottom: 0;
}

.option[on="false"] {
    color: rgb(94, 94, 94)
}

.option[on="true"] {
    color: rgb(9, 255, 0)
}

#notice {
    background-color: rgb(112, 59, 59);
    border-color: rgb(147, 45, 45);
    border-width: .5px;
    border-style: solid;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    left: 50%;
    transform: translateX(-50%);
}

@font-face {
    font-family: Archivo;
    src: url('../../assets/fonts/archivo.ttf');
}

#startAudio {
    background-color: rgba(128, 128, 128, 0.272);
    background-color: #151523;
    position: fixed;
    left: 0;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
}

#startAudio.p {
    left: 50%;
    top: 50%;
    transform: translateX(50%);
    transform: translateY(-50%);
}

p {
    color: white;
}

a {
}

a:visited {
    color: white;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveIn {
    from {
        transform: translateX(130%);
    }
    to {
        transform: translateX(0);

    }
}

@keyframes moveBack {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(130%);

    }
}