html, body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

#backgroundimage {
    width: 100%;
    height: 100%;
}

#starcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

.star {

    position: absolute;
}

#splash {
    left: 50%;
    top:35%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 20%;
    animation: fadeIn .35s linear;
}

#name {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Archivo;
    color: white;
    font-weight: 800;
    font-size: 6vw;
    white-space: nowrap;
    text-align: center;
    animation: fadeIn .35s linear;
}

#addInfo {
    left: 50%;
    top:65%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Archivo;
    color: white;
    font-weight: 800;
    font-size: 2vw;
    white-space: nowrap;
    text-align: center;
    animation: fadeIn .35s linear;
}

#paw {
    position: absolute;
    width: 10%;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn .2s linear;
}

@font-face {
    font-family: Archivo;
    src: url('../../assets/fonts/archivo.ttf');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}